!!! 5
html(lang="en")
  head
    meta(charset="utf-8")
    script(src="/js/jquery.js")
    script(src="/js/app.js")
    title= 'Calkid'
    link(href="/css/style.css",media="screen",rel="stylesheet",type="text/css")
  body
    h1 Calkid
    #container
      != body